{% load static %}
<div class="row mt-3 p-3 bg-light"> <!--  3rd row start or footer section start -->
    <div class="col-md-4"><!--Footer-Address section start -->
        <h5>Address:</h5>
        <hr>
        22-B, 1st Floor,<br>
        Rainbow Plaza, Shivar Chowk,<br>
        Pimple Saudagr, Pune <br>
        Maharashtra <br>
        Contact No: 123456789

    </div><!--Footer-Address section end -->
    <div class="col-md-4"><!--Footer-Quick-links section start -->
        <h5>Quick Links:</h5>
        <hr>
        <a href="">Home</a><br>
        <a href="">About</a><br>
        <a href="">Contact</a><br>
    </div><!--Footer-Quick-links section end -->
    <div class="col-md-4"><!--Footer-Socail icons section start -->
        <h5>Social Media</h5><hr>
        <h3><a href="#" target="_blank"><i class="bi bi-linkedin"></i></a></h3>       
        <h3><a href="#" target="_blank"><i class="bi bi-github"></i></i></a></h3>
        <h3><a href="#" target="_blank"><i class="bi bi-facebook"></i></a></h3>
        <h3><a href="#" target="_blank"><i class="bi bi-twitter"></i></a></h3>
    </div><!--Footer-Social icons section end -->
</div><!--  3rd row end or footer section end -->        

</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>