{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="row mt-3 p-3 bg-light"> <!--  2nd row start or main section start -->
    <div class="col-md-3"><!--Filter section start-->
        <h3>Filter by Category</h3>
        <hr>
        <a href="/product">All</a><br>
        <a href="/catfilter/1">Mobile</a><br>
        <a href="/catfilter/2">Shoes</a><br>
        <a href="/catfilter/3">Cloth</a><br><br>

        <h3>Sort by Price</h3>
        <hr>
        <a href="/sort/1">High to Low</a><br>
        <a href="/sort/0">Low to High</a><br><br>

        <h3>Filter By Price</h3>
        <hr>
        <form action="/pricefilter" method="get">
            <div class="mb-2">
                <label for="input1" class="form-label">Min</label>
                <input type="number" class="form-control" id="input1" name="minprice">
            </div>

            <div class="mb-2">
                <label for="input2" class="form-label">Max</label>
                <input type="number" class="form-control" id="input2" name="maxprice">
            </div>

            <div class="mb-2">
                <input type="submit" class="btn btn-danger" value="Filter">
            </div>
        </form>
    </div><!--Filter section end-->

    <div class="col-md-9"><!--product list section start -->
        <div class="row">
            {% if errmsg %}
                    <div class="alert alert-danger" role="alert">{{errmsg}}</div>
            {% endif %}

            {% for i in data %}
            <div class="col-md-3"><!-- Product 1 start-->
                <div class="card mb-3" style="width: 100%; height: auto;">                    
                    <img src="{{i.pimage.url}}" class="card-img-top" alt="mobile image" height="180px">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text"><strong>Price : </strong>Rs. {{i.price}}</p>
                        <a href="/product_details/{{i.id}}" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div><!-- Product 1 End-->
            {% endfor %}
            <!-- <div class="col-md-3">
                <div class="card" style="width: 100%; height: auto;">
                    <img src="{% static 'images/redmi-note-12.jpg' %}" class="card-img-top" alt="mobile image">
                    <div class="card-body">
                        <h5 class="card-title">Redmi-Note-12</h5>
                        <p class="card-text"><strong>Price : </strong>Rs. 34000</p>
                        <a href="./product_details.html" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 100%; height: auto;">
                    <img src="{% static 'images/redmi-note-12.jpg' %}" class="card-img-top" alt="mobile image">
                    <div class="card-body">
                        <h5 class="card-title">Redmi-Note-12</h5>
                        <p class="card-text"><strong>Price : </strong>Rs. 34000</p>
                        <a href="./product_details.html" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 100%; height: auto;">
                    <img src="{% static 'images/redmi-note-12.jpg' %}" class="card-img-top" alt="mobile image">
                    <div class="card-body">
                        <h5 class="card-title">Redmi-Note-12</h5>
                        <p class="card-text"><strong>Price : </strong>Rs. 34000</p>
                        <a href="./product_details.html" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div> -->

        </div>
    </div><!--product list section end -->
</div><!--  2nd row end or main section end -->

{% endblock 'main' %}